.password{
    .note{
        display: flex;
        margin-top: 3rem;
        .circle{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            background-color: $secondary-color;

            @media (max-width: 500.98px) {
                width: 1rem;
                height: 0.8rem;
                border-radius: 1rem;
            }
        }
        p{
            color: $primary-color;   
            padding-right: 0.5rem;
        }
              
    }
}